@import '~assets/sass/config.scss';

:host {
    display: block;
    width: 260px;
    height: 100%;
    position: relative;

    .side_nav_container {
        display: flex;
        position: sticky;
        top: $header-height + px;
        left: 0;
        width: 100%;
        flex-direction: column;
        max-height: $page-min-height;
        overflow-y: scroll;
        overflow-x: hidden;
        opacity: 0;
        @include full-transition(opacity .6s);

        &.open {
            opacity: 1;
        }
        .nav_btn {
            @include medium-font();
            line-height: px-to-em(40px);
            @include text-align(left);
            cursor: pointer;
            display: flex;
            flex-direction: row;
            color: $primary;

            .nav_ico {
                align-self: center;
                margin: 0 10px;
            }
            .nav_txt {
                align-content: center;
                @include ellipsis();
                font-weight: bold;
                max-width: 100%;
            }
            &:hover {
                color: $primary_pale;
            }
            &:active {
                color: $primary_red;
            }
        }
    }
}