@import '~assets/sass/config.scss';

:host {
    display: block;
    height: $header-height + px;
    z-index: map-get($z-indexes, 'header');
    position: relative;

    .app_header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: $header-height + px;
        background-color: $primary;
        padding: 0 10px;
        color: $white;

        display: flex;
        flex-direction: row;
        justify-content: space-between;

        img {
            height: 80%;
            width: auto;
            align-self: center;
        }

        h1 {
            @include big-font();
            line-height: $header-height + px;
            font-weight: 500;
            align-self: center;
        }

        .bars_ico {
            align-self: center;
        }
    }
}