@mixin scrollbar() {
  ::-webkit-scrollbar-button { 
    display: none;
    height: 13px;
    background-color: $scroll_gray; 
  }
  ::-webkit-scrollbar-button:hover { 
    background-color: $scroll_gray; 
  } 
  ::-webkit-scrollbar-thumb { 
    background-color: $primary;
  }
  ::-webkit-scrollbar-thumb:hover { 
    background-color: $primary_pale;
  }
  ::-webkit-scrollbar-track { 
    background-color: $scroll_gray_pale; 
  } 
  ::-webkit-scrollbar-track:hover { 
    background-color: $scroll_gray_pale; 
  } 
  ::-webkit-scrollbar { 
    width: 10px; 
  }
}

/*
  generator
    https://darrylhuffman.com/sites/Scrollbar-gen/
*/