@import '~assets/sass/config.scss';

:host {
    display: block;
    height: auto;

    .main_container {
        min-height: $page-min-height;
        background-color: $page_bg;
        overflow: initial;
        overflow-x: hidden;

        .mat-drawer {
            overflow: initial;            
        }
        .page_content {
            width: 100%;
        }
    }
}