<form class="register_form" [formGroup]="registerForm" (ngSubmit)="submit(registerForm.value)">
    <div class="row">
        <div class="col-sm-6 input_wrapper">
            <label for="fname">{{ 'register.fname' | translate:user }}</label>
            <input type="text" name="fname" formControlName="fname">
        </div>

        <div class="col-sm-6 input_wrapper">
            <label for="lname">{{ 'register.lname' | translate:user }}</label>
            <input type="text" name="lname" formControlName="lname">
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6 input_wrapper">
            <label for="password">{{ 'register.password' | translate:user }}</label>
            <input type="password" name="password" formControlName="password">
        </div>

        <div class="col-sm-6 input_wrapper">
            <label for="email">{{ 'register.email' | translate:user }}</label>
            <input type="email" name="email" formControlName="email">
        </div>
    </div>

    <div class="row">
        <input type="submit" class="submit_btn" [ngClass]="{'disabled_btn': (!registerForm.valid)}"
            value="{{ 'register.send' | translate:user }}" [disabled]="(!registerForm.valid)">

        <button class="submit_btn" (click)="reset()">
            {{ 'register.reset' | translate:user }}
        </button>
    </div>

    <p class="error_notice" ng-if="(!registerForm.valid)">
        {{ 'register.' + errorMsg | translate:user }}
    </p>
</form>