@import 'vendors/bi-app/bi-app-ltr';
@import "fonts";

  // mixins
@import "mixins/typography.scss";
@import "mixins/scrollbar.scss";
@import "mixins/utils.scss";
@import "mixins/transitions.scss";

$header-height: 50;
$footer-height: 25;
$page-min-height: calc(3000px - #{$header-height}px - #{$footer-height}px);


$red: #FF0000;
$white: #FFFFFF;
$scroll_gray: #AAA;
$scroll_gray_pale: #e0e0e0;
$primary: #2a7fb8;
$primary_red: #e74a43;
$primary_pale: rgba(42, 127, 184, 0.5);
$page_bg: #fafafa;

$media-breakpoints: (
  'iphone': 320px,
  'phone': 480px,
  'ipad': 768px,
  'tablet': 1024px,
  'laptop': 1224px,
  'desktop': 1824px
);

$z-indexes : (
  header: 100,
  footer: 100,
  popup_overlay: 999,
  popup_content: 9999
);
