@import 'vendors/bi-app/bi-app-ltr';
@import "fonts";

  // mixins
@import "mixins/typography.scss";

$header-height: 50;

$red: #FF0000;
$white: #FFFFFF;
$primary: #007acc;

$colors: (
    main_background: #2b2934,
    text_default: #fff,
    border_default: rgba(255,255,255,.2),
    dark_background: #201E26,
    app_white: #fff,
    app_black: #000,
    main_menu_icons: #635e73,
    filters_text: rgba(255,255,255,.5),
    filters_border: rgba(255,255,255,.4),
    search_background: #2D83F8,
    search_border: #2D83F8,
    scrollbar_color: #201e26,
    track_info_color: #2b2934,
    active_track: #54c59b,
    slider_color: #504d53,
    event_point_color:#ff3568,
    event_point_blur:#612539,
    event_point_selected_color:#00FF00,
    event_point_selected_blur:#32CD32,
    track_hover: #ff3568,
    gray_title_row_bg: #ececec,
    pale_row_bg: #f9f9f9,
    table_seperator: rgba(190,189,194,0.7),
    active_row: #87bf66,
    a_col_text: #7f7c8b,
    a_scroll: #b1b0b3,
    picked_row: #f2f2f2
);

$media-breakpoints: (
  'iphone': 320px
);

$z-indexes : (
  header: 100,
  popup_overlay: 999,
  popup_content: 9999
);
